<div class="container">
  <h1>User Skills and Levels</h1>

  <%# TODO: display the skills and proficiency levels for each user ... %>
<ul><% @users.each do |user| %>
  <li><%= user.name %></li>
  <ul><% user.proficiencies.each do |pro| %>
    <li>Skill: <%= pro.skill.name %> Years: <%= pro.years %> Formal?: <%= pro.formal %></li>
    <% end %>
  </ul>
<% end %>
</ul>

</div>
